.App{
  text-align:center;
  padding:20px;
  font-family:Arial;
}

.card{
  border:1px solid gray;
  margin:20px auto;
  padding:15px;
  width:350px;
  border-radius:10px;
  box-shadow:2px 2px 8px gray;
}